# Ignore directories
env/
.pytest_cache

# not ignore main.py
!main.py
!server.py
!clubs.json
!competitions.json


# not ignore specific files
!instruction_project.md
!README.md
!requirements.txt
!pyproject.toml
!setup.cfg




# other
bin
include
lib
.Python
.envrc
__pycache__